*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(22, 21, 21);
    color: aliceblue;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

h1{
    margin-left: 300px;
    background-image:linear-gradient(to left,white,rgba(7,77,7));
    background-clip: text;
    color: transparent;
    animation: ani 30s ease infinite;
}

@keyframes ani{
    from{}
    to{
        background-position: 1000vh;
    }
}

span{
    color: rgb(7, 77, 7);
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;  
}

ul{
    list-style: none;
}
